$body-bg: #0d1117;

$color-text-primary: #c9d1d9;
$color-text-secondary: #8b949e;

$border-color: #e2e2e2;

$primary: #00cae3;
$primary2: #d31bff;
$secondary: #9e9e9e;
$success: #4caf50;
$error: #ff5252;
$warning: #fb8c00;
$info: #00cae3;
$dark:      #1e1e1e;
$white:     #fff;

$shadow-large: 0 14px 26px -12px rgba(0, 0, 0, .42),
0 4px 23px 0 rgba(0, 0, 0, .12),
0 8px 10px -5px rgba(0, 0, 0, .2);

$shadow-small: 0 2px 1px -1px rgba(0, 0, 0, .2),
0 1px 1px 0 rgba(0, 0, 0, .14),
0 1px 3px 0 rgba(0, 0, 0, .12);

$shadow-small-deffused: 0 1px 4px 0 rgba(0, 0, 0, .14);

$colors:    (
              decor: (color: $primary),
              primary: (color: $primary),
              secondary: (color: $secondary, dark-shadow: true),
              warn: (color: $warning),
              danger: (color: $error),
              success: (color: $success),
              dark: (color: $dark),
              white: (color: $white, light: true, dark-shadow: true),
              transparent-light: (color: rgba(0, 0, 0, 0), light: true),
              transparent-dark: (color: rgba(0, 0, 0, 0)),
              drawer-link: (color: rgba(54, 54, 54, .5)),
            );

$sizes:     (
              1200: 1200px,
              992: 992px,
              768: 768px,
              480: 480px,
              375: 375px,
            )
